#ejecutar, #reiniciar, #retrocederInstruccion, #upload {
    margin-right: 8px;
}
#butonera {
    margin-bottom: 10px;
}
button {
    background-color: #ece7d6;
    font-size: 12.75px;
}
.mat-icon {
    transform: scale(0.73);
    width: 19px;
}

/* Habilitar el scroll vertical para la tabla poniendole un alto fijo */
.instrucciones-table-container {
    height: 430px;
    width: 660px;
    max-width: 100%;
    overflow: auto;
    
    display: flex;
    flex-flow: column;  
}

/* Linea vertical que rellena el contenido dejado en blanco por la tabla de instrucciones para la columna
   numeroInstruccion. Simula la ocupacion total del div por parte de la tabla sin deformar ni estirar esta. */
.vertical-line {
    width: 66.1px;
    height: 100%;
    background-color: #f4f4ea;
    float: left;
}
table {
    width: 100%;
}

/* Label de la tabla */
label {
    font-size: 12px;
    font-weight: 420;
    color: dimgrey;
    background-color: #ece7d6;
    padding: 8px 15px;
    border-bottom: 1.5px solid #bdb9ab;
}

/* Instruccion actual (IP) */
.selected, .selectedFinished, .selectedWithErrors {
    font-weight: 550;
}
.selected {
    background-color: #FFFF99;
}

/* Instruccion actual (IP) HALT y programa finalizado sin errores */
.selectedFinished {
    background-color: lightgreen;
}

/* Instruccion actual (IP) HALT y pero se han registrado errores */
.selectedWithErrors > .mat-column-contenido {
    background-color: rgb(255, 51, 51);
    color: white;
}

/* Tamaño de letra de celdas y filas sin borde */
.mat-cell {
    font-size: 12px;
    border-bottom-style: none;
}

/* Numero de instruccion ocupa el 10% del ancho de la tabla, el contenido de esta ocupa el 90% del ancho de la tabla */
.mat-column-numeroInstruccion {
    width: 10%;
    text-align: right;
    padding-right: 8px;
    background-color: #f4f4ea;
}
.mat-column-contenido {
    width: 90%;
    padding-left: 8px; /*margen celda*/
}

/* Altura de las filas */
.mat-row {
    height: 20px;
}