#ejecutar, #recargar {
    margin-right: 7px;
}
#butonera {
    margin-top: 15px;
}

/* Habilitar el scroll vertical para la tabla poniendole un alto fijo */
.table-container {
    height: 430px;
    width: 675px;
    max-width: 100%;
    overflow: auto;
}
table {
    width: 675px;
}
.selected {
    background-color: lightyellow;
}