<div id="instrucciones-container" #tbContainer class="table-container mat-elevation-z8">
    <table id="tbInstrucciones" mat-table [dataSource]="programa.texto">
        <!-- Columna 1: Numero de la instruccion (si lo tiene) -->
        <ng-container matColumnDef="numeroInstruccion">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{ element.numeroInstruccion }} </td>
        </ng-container>

        <!-- Columna 2: Contenido de la linea -->
        <ng-container matColumnDef="contenido">
            <th mat-header-cell *matHeaderCellDef> Instrucción </th>
            <td mat-cell *matCellDef="let element"> {{ element.contenido }} </td>
        </ng-container>

        <!-- Definicion de las columnas -->
        <!-- Si el numero de instruccion de la Linea coincide con el de la instruccion actual ejecutandose (IP) se muestra de color amarillo -->
        <!-- Ademas, si el cursor esta sobre una fila que contiene una instruccion, este cambia para indicarle al usuario que es pulsable -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{ 'selected': row.numeroInstruccion === programa.codigo[programa.ip].numero, 
                         'selectedFinished': (programa.finalizado && row.numeroInstruccion === programa.codigo[programa.ip].numero) }"
            [style.cursor]="row.numeroInstruccion !== '' ? 'pointer' : 'auto'"
            (dblclick)="seleccionarInstruccion($event, row, tbContainer)"></tr>
    </table>
</div>

<div id="butonera">
    <button id="ejecutar" (click)="ejecutar(tbContainer)" [disabled]="disableBotones()" 
        matTooltip="Ejecutar programa hasta su finalización" [matTooltipShowDelay]="globals.toolTipDelay" mat-raised-button>
            <mat-icon>play_circle_outline</mat-icon> Ejecutar
    </button>
    <button id="recargar" (click)="recargarPrograma(tbContainer)" [disabled]="!programa.hasCodigo()" 
        matTooltip="Retroceder al inicio del programa (la E/S se reutiliza)" [matTooltipShowDelay]="globals.toolTipDelay" mat-raised-button>
            <mat-icon>refresh</mat-icon> Reiniciar
    </button>
    <button id="retrocederInstruccion" (click)="retrocederInstruccion(tbContainer)" [disabled]="disableBotones() || programa.ip == 0" 
        matTooltip="Retroceder a la instrucción anterior" [matTooltipShowDelay]="globals.toolTipDelay" mat-raised-button>
            <mat-icon>chevron_left</mat-icon> Retroceder
    </button>
    <button id="ejecutarInstruccion" (click)="ejecutarInstruccion(tbContainer)" [disabled]="disableBotones()" 
        matTooltip="Ejecutar la instrucción actual" [matTooltipShowDelay]="globals.toolTipDelay" mat-raised-button>
            <mat-icon>chevron_right</mat-icon> Ejecutar siguiente instrucción
    </button>
</div>