/* Habilitar el scroll vertical para la tabla poniendole un alto fijo */
.memoria-table-container, .pila-table-container {
    height: 430px;
    width: 369px;
    max-width: 100%;
    overflow: auto;
    float: left;
    margin-top: 46px;
}
.memoria-table-container {
    margin-right: 30px;
}
label {
    display: block;
}
table {
    width: 100%;
}

/* Style para la zona de variables locales de una funcion (ENTER) */
.locals {
    background-color:#d9f5ff;
}

/* Label de las tablas */
label {
    font-size: 12px;
    font-weight: 420;
    color: dimgrey;
    background-color: #ece7d6;
    padding: 8px 15px;
    border-bottom: 1.5px solid #bdb9ab;
}

/* Tamaño de letra de celdas */
.mat-cell {
    font-size: 12px;
}

/* Porcentajes de ocupacion de los valores de cada columna */
.mat-column-address.mat-cell {
    width: 17.5%;
    text-align: right;
    padding-right: 8px;
}
.mat-column-value.mat-cell {
    width: 82.5%;
    padding-left: 8px; /* margen celda */
}

/* Selectores específicos gracias a matColumnDef */
.mat-column-address.mat-cell {
    background-color:#f4f4ea;
    border-bottom-style: none;
    font-size: 11px;
}
.mat-column-value.mat-cell {
    border-bottom: 1.5px solid white;
    font-weight: 550;
}

/* Altura de las filas */
.mat-row {
    height: 20px;
}

/* Punteros */
#BP, #SP, #SPBP {
    font-weight: bold;
    font-size: 10.5px;
}