/* Habilitar el scroll vertical para la tabla poniendole un alto fijo */
.memoria-table-container, .pila-table-container {
    height: 430px;
    width: 380px;
    max-width: 100%;
    overflow: auto;
    float: left;
}
.pila-table-container {
    margin-left: 32px;
}
table {
    width: 100%;
}

/* Tamaño de letra de celdas */
.mat-cell, .mat-header-cell {
    font-size: 12px;
}

/* Porcentajes de ocupacion de cada columna de una fila y estetica */
.mat-column-address {
    width: 17.5%;
    text-align: right;
    padding-right: 8px;
}
.mat-column-address.mat-cell {
    background-color:#f4f4ea;
    border-bottom-style: none;
    font-size: 11px;
}
.mat-column-value {
    width: 82.5%;
    padding-left: 8px; /* margen celda */
}
.mat-column-value.mat-cell {
    border-bottom: 2px solid white;
    font-weight: 550;
}

/* Altura de los encabezados y filas */
.mat-header-row {
    height: 30px;
}
.mat-row {
    height: 20px;
}

/* Encabezados tabla */
.mat-header-cell {
    text-align: left;
    background-color: #ece7d6;
}

#BP, #SP, #SPBP {
    font-weight: bold;
}