<div class="memoria-table-container mat-elevation-z8">
    <table id="tbMemoria" mat-table [dataSource]="dataSource">
        <!-- Columna 1: Posicion -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Dirección </th>
            <td mat-cell *matCellDef="let tuple; let i = index"> {{i}} </td>
        </ng-container>

        <!-- Columna 2: Valor -->
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Dato </th>
            <td mat-cell *matCellDef="let tuple; let i = index" [attr.rowspan]="getRowSpan(i)"
                [style.display]="getRowSpan(i) ? '' : 'none'"> {{ (tuple !== undefined) ? tuple[0] : tuple }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div id="div-pila" class="pila-table-container mat-elevation-z8">
    <table id="tbPila" mat-table [dataSource]="dataSource">
        <!-- Columna 1: Posicion -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Dirección </th>
            <td mat-cell *matCellDef="let tuple; let i = index">
                <div *ngIf="pila.getSP()!==i && pila.getBP()!==i; else elseBlock">{{i}}</div>
                <div *ngIf="pila.getSP()==i">SP<i class="arrow right"></i></div>
                <div *ngIf="pila.getBP()==i">BP<i class="arrow right"></i></div>
            </td>
        </ng-container>

        <!-- Columna 2: Valor -->
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Dato </th>
            <td mat-cell *matCellDef="let tuple; let i = index" [attr.rowspan]="getRowSpan(i)"
                [style.display]="getRowSpan(i) ? '' : 'none'"> {{ (tuple !== undefined) ? tuple[0] : tuple }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>