<!-- MEMORIA -->
<div class="memoria-table-container mat-elevation-z8">
    <table id="tbMemoria" mat-table [dataSource]="dataSource">
        <!-- Columna 1: Posicion -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Dir. </th>
            <td mat-cell *matCellDef="let tuple; let i = index"> {{i}} </td>
        </ng-container>

        <!-- Columna 2: Valor -->
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Contenido </th>
            <td mat-cell *matCellDef="let tuple; let i = index" [attr.rowspan]="getRowSpan(i)"
                [style.display]="getRowSpan(i) ? '' : 'none'"
                [style.cursor]="tuple !== undefined ? 'help' : 'auto'"
                [matTooltip]="mostrarToolTip(tuple)"
                [matTooltipShowDelay]="globals.toolTipDelay"
                [style.background-color]="tuple !== undefined ? '#F0F0F0' : 'none'"
                [style.border-bottom-style]="tuple !== undefined ? 'auto' : 'none'"> 
            {{ (tuple !== undefined) ? tuple[0] : tuple }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<!-- PILA -->
<div id="div-pila" class="pila-table-container mat-elevation-z8">
    <table id="tbPila" mat-table [dataSource]="dataSource">
        <!-- Columna 1: Posicion -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Dir. </th>
            <td mat-cell *matCellDef="let tuple; let i = index">
                <div *ngIf="pila.getSP()!==i && pila.getBP()!==i">{{i}}</div>
                <div id="SP" *ngIf="pila.getSP()==i && pila.getBP()!=i">SP</div>
                <div id="BP" *ngIf="pila.getSP()!=i && pila.getBP()==i">BP</div>
                <div id="SPBP" *ngIf="pila.getSP()==i && pila.getBP()==i">SP BP</div>
            </td>
        </ng-container>

        <!-- Columna 2: Valor -->
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Contenido </th>
            <td mat-cell *matCellDef="let tuple; let i = index" [attr.rowspan]="getRowSpan(i)"
                [style.display]="getRowSpan(i) ? '' : 'none'"
                [style.cursor]="tuple !== undefined ? 'help' : 'auto'"
                [matTooltip]="mostrarToolTip(tuple)"
                [matTooltipShowDelay]="globals.toolTipDelay"
                [style.background-color]="tuple !== undefined ? '#F0F0F0' : 'none'"
                [style.border-bottom-style]="tuple !== undefined ? 'auto' : 'none'">
            {{ (tuple !== undefined) ? tuple[0] : tuple }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>