/* Habilitar el scroll vertical para la tabla poniendole un alto fijo */
.memoria-table-container, .pila-table-container {
    height: 430px;
    width: 350px;
    max-width: 100%;
    overflow: auto;
    float: left;
}
.pila-table-container {
    margin-left: 50px;
}
table {
    width: 100%;
}

/* Tamaño de letra de celdas */
.mat-cell, .mat-header-cell {
    font-size: 13px;
}

/* La direccion ocupa el 30% del ancho de la tabla, el contenido de esta ocupa el 70% del ancho de la tabla */
.mat-column-address {
    width: 25%;
    text-align: right;
    border-right: 1px solid #e0e0e0;
    padding-right: 8px;
}
.mat-column-value {
    width: 75%;
    padding-left: 8px; /* margen celda */
}

/* Altura de la filas */
.mat-row, .mat-header-row {
    height: 45px;
}
.mat-header-cell {
    text-align: left;
}