* {
    margin-left: 20px;
}
#archivo, #pila {
    margin-left: 0px;
}
#instrucciones {
    float: left;
    margin-right: 50px;
}
#consola {
    margin-left: 1000px;
}
#footer {
    float: right;
    margin-right: 20px;
}