<div class="main-container">
    <p>
        <button id="subirPrograma" mat-raised-button (click)="fileInput.click()" matTooltip="Subir un nuevo programa" 
            [matTooltipShowDelay]="globals.toolTipDelay">
                <mat-icon>cloud_upload</mat-icon> Subir programa
        </button>
        <input hidden onclick="this.value=''" (change)="cargar($event.target.files)" 
            #fileInput type="file" accept=".txt">
    </p>
    <app-instrucciones id="instrucciones" [programa]="programa"></app-instrucciones>
    <app-pila id="pila" [pila]="programa.pila"></app-pila>
    <p>
        <app-consola id="consola"></app-consola>
    </p>
    <footer id="footer">
        {{version}}
    </footer>
</div>