/* Deshabilita la seleccion de texto en todos los navegadores posibles */
* {
    -webkit-touch-callout: none;      /* iOS Safari */
      -webkit-user-select: none;      /* Safari */
       -khtml-user-select: none;      /* Konqueror HTML */
         -moz-user-select: none;      /* Old versions of Firefox */
          -ms-user-select: none;      /* Internet Explorer/Edge */
              user-select: none;      /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}
.main-container {
    margin: 20px;
}
#instrucciones {
    float: left;
    margin-right: 32px;
}
#consola {
    margin-left: 1000px;
}
#footer {
    float: right;
    margin-bottom: 20px;
}
button {
    background-color: #ece7d6;
}