.incidencias-container {
    width: 769px;
    height: 211px;
    max-width: 100%;
    overflow: auto;
}
label {
    display: block;
}
table {
    width: 100%;
}

/* Label de la tabla */
label {
    font-size: 12px;
    font-weight: 420;
    color: dimgrey;
    background-color: #ece7d6;
    padding: 8px 15px;
    border-bottom: 1.5px solid #bdb9ab;
}

/* Tamaño de letra de celdas y filas sin borde */
.mat-cell {
    font-size: 12px;
}

/* Altura de las filas */
.mat-row, .mat-header-row {
    height: 20px;
}

/* Encabezados de las columnas */
.mat-header-row {
    background-color: #f4f4ea;
}

/* Icono error */
.mat-icon {
    transform: scale(0.7);
    width: 20px;
    color: rgb(255, 51, 51);
}
.aligned-with-icon-relative {
    position: relative;
    top: -6px;
}

/* Porcentajes de ocupacion de cada columna de la tabla Incidencias */
.mat-column-identificador {
    width: 15%;
}
.mat-column-tipo {
    width: 15%;
}
.mat-column-linea {
    width: 12%;
}
.mat-column-descripcion {
    width: 58%;
}